{
    "sutter": {
        "userid": "yourvalue",
        "password": "yourvalue"
    },
    "washington": {
        "zipcode": 98105,
        "distance": 50
    },
    "chromeDriverPath": "yourpathtochromedriver",
    "delay": 2,
    "sms": {
        "enabled": true,
        "number": "<yourPhoneNumber>@<yourTelcoMessageGateway"
    },
    "gmail": {
        "userid": "yourGmailAddress",
        "password": "yourGoogleAppPassword"
    }
}